## Entornos data science - Python

### Parte 3

Podemos descargar datos de empresas del dataset Forbes2000 (paquete HSAUR) mediante get_rdataset(). Encontraremos un ranking de empresas categorizadas por sector, y con datos de su país, ventas, beneficios, recursos y valor de mercado.

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import scipy as scipy 
import statsmodels.api as sm 
import statsmodels.formula.api as smf 
import seaborn as sns

In [9]:
forbes = sm.datasets.get_rdataset('Forbes2000', 'HSAUR').data
forbes.head()

,rank,name,country,category,sales,profits,assets,marketvalue
0,1,Citigroup,United States,Banking,94.71,17.85,1264.03,255.30
1,2,General Electric,United States,Conglomerates,134.19,15.59,626.93,328.54
2,3,American Intl Group,United States,Insurance,76.66,6.46,647.66,194.87
3,4,ExxonMobil,United States,Oil & gas operations,222.88,20.96,166.99,277.02
4,5,BP,United Kingdom,Oil & gas operations,232.57,10.27,177.57,173.54

Seleccionar del dataframe los nombres de empresa que incluyen "elect" (sin tener en cuenta mayúsculas). Intentamos con esto obtener empresas “del sector de la electricidad” de forma aproximada.

In [10]:
elect = forbes[forbes.name.str.contains('elect',case = False)]

In [11]:
print (elect['name'].unique()) #comprobamos la selección

['General Electric' 'Samsung Electronics' 'Tokyo Electric Power'
 'Korea Electric Power' 'Kansai Electric Power' 'Chubu Electric Power'
 'Emerson Electric' 'Tohoku Electric Power' 'Kyushu Electric Power'
 'Schneider Electric' 'Matsushita Electric Indl' 'STMicroelectronics'
 'Electrolux Group' 'Chugoku Electric Power' 'American Electric'
 'Mitsubishi Electric' 'Hughes Electronics' 'Matsushita Electric Works'
 'Sanyo Electric' 'Electronic Data Sys' 'Shikoku Electric Power'
 'Sumitomo Electric' 'Hokkaido Electric Power' 'Hongkong Electric'
 'United Microelectronics' 'Hokuriku Electric Power' 'Electronic Arts'
 'Odakyu Electric Railway' 'Tokyo Electron' 'Verbund-Austrian Electric'
 'Compal Electronics' 'Furukawa Electric' 'Keio Electric Railway'
 'Kesa Electricals' 'Alps Electric' 'Funai Electric' 'Arrow Electronics'
 'Fuji Electric' 'Thermo Electron' 'Nippon Electric Glass'
 'SEM-Samsung Electro' 'Oki Electric Industry' 'Keihin Electric Express'
 'Johnson Electric Holdings' 'Chi Mei Optoelectronics' 'Hawaiian Electric'
 'Guangdong Electric Power' 'Hirose Electric' 'Stanley Electric'
 'Yokogawa Electric']

Utilizando como índice el país y la categoría y ordenándolo (sort_index), encontrar el valor de mercado de las empresas japonesas y estadounidenses.

In [12]:
elect = elect.set_index(['country','category'])

In [14]:
elect.sort_index(inplace=True)
elect.head()

                               rank                       name  sales  \
country         category
Austria         Utilities      1184  Verbund-Austrian Electric   2.18
China           Utilities      1842   Guangdong Electric Power   0.67
France          Capital goods   323         Schneider Electric  11.04
Hong Kong/China Capital goods  1582  Johnson Electric Holdings   0.96
                Utilities       811          Hongkong Electric   1.49

                               profits  assets  marketvalue
country         category
Austria         Utilities         0.16    7.27         4.28
China           Utilities         0.14    1.43         3.39
France          Capital goods     0.54   14.37        15.39
Hong Kong/China Capital goods     0.15    0.85         4.73
                Utilities         0.88    7.26         9.04

In [24]:
print '-----------------------------------------------'
print 'valor total electricas USA:',elect['marketvalue'].loc['United States'].sum()
print 'valor medio electricas USA:',elect['marketvalue'].loc['United States'].mean()
print '-----------------------------------------------'
print 'valor total electricas Japon:',elect['marketvalue'].loc['Japan'].sum()
print 'valor medio electricas Japon:',elect['marketvalue'].loc['Japan'].mean()
print '-----------------------------------------------'
print 'valor total electricas USA y Japon:',elect['marketvalue'].loc[['United States','Japan']].sum()
print 'valor medio electricas USA y Japon:',elect['marketvalue'].loc[['United States','Japan']].mean()
print '-----------------------------------------------'

-----------------------------------------------
valor total electricas USA: 424.69
valor medio electricas USA: 47.1877777778
-----------------------------------------------
valor total electricas Japon: 215.1
valor medio electricas Japon: 7.96666666667
-----------------------------------------------
valor total electricas USA y Japon: 639.79
valor medio electricas USA y Japon: 17.7719444444
-----------------------------------------------

Sobre el mismo subconjunto de empresas eléctricas, obtener el país donde el sector de utilities tiene mayor valor de mercado medio en sus empresas.

In [61]:
elect_u=elect.iloc[elect.index.get_level_values('category') == 'Utilities']
elect_u

                           rank                       name  sales  profits  \
country         category
Austria         Utilities  1184  Verbund-Austrian Electric   2.18     0.16
China           Utilities  1842   Guangdong Electric Power   0.67     0.14
Hong Kong/China Utilities   811          Hongkong Electric   1.49     0.88
Japan           Utilities    72       Tokyo Electric Power  41.62     1.40
                Utilities   157      Kansai Electric Power  22.12     0.68
                Utilities   171       Chubu Electric Power  18.41     0.90
                Utilities   281      Tohoku Electric Power  13.48     0.52
                Utilities   285      Kyushu Electric Power  12.02     0.54
                Utilities   440     Chugoku Electric Power   8.54     0.37
                Utilities   728     Shikoku Electric Power   4.95     0.22
                Utilities   799    Hokkaido Electric Power   4.39     0.22
                Utilities   857    Hokuriku Electric Power   4.08     0.18
South Korea     Utilities   152       Korea Electric Power  18.01     2.57
United States   Utilities   568          American Electric  15.58    -0.16
                Utilities  1836          Hawaiian Electric   1.76     0.10

                           assets  marketvalue
country         category
Austria         Utilities    7.27         4.28
China           Utilities    1.43         3.39
Hong Kong/China Utilities    7.26         9.04
Japan           Utilities  116.68        30.63
                Utilities   60.52        17.56
                Utilities   52.08        15.59
                Utilities   34.49         8.67
                Utilities   34.69         8.48
                Utilities   23.36         6.41
                Utilities   11.96         4.65
                Utilities   11.85         3.76
                Utilities   13.09         3.74
South Korea     Utilities   58.38        11.84
United States   Utilities   36.08        13.21
                Utilities    9.03         1.94

In [62]:
elect_gr=elect_u['marketvalue'].groupby(level=['country']).mean()

In [63]:
elect_gr

country
Austria             4.280000
China               3.390000
Hong Kong/China     9.040000
Japan              11.054444
South Korea        11.840000
United States       7.575000
Name: marketvalue, dtype: float64

Observamos que el mayor valor media de utilities tiene Korea del Sur.

Volviendo al dataset original, obtener las empresas españolas.

In [64]:
espan = forbes[forbes.country=="Spain"]
espan

,rank,name,country,category,sales,profits,assets,marketvalue
38,39,Banco Santander Central,Spain,Banking,28.70,3.28,442.24,56.78
56,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,2.81,288.80,44.67
108,109,Repsol-YPF,Spain,Oil & gas operations,29.14,2.05,39.34,26.22
114,115,Endesa Group,Spain,Utilities,20.43,1.65,57.92,21.10
188,189,Iberdrola,Spain,Utilities,11.94,1.33,30.99,18.78
378,379,Banco Popular Espaqol,Spain,Banking,3.32,0.67,44.01,14.38
408,409,Telefsnica,Spain,Telecommunications services,29.84,-5.86,60.65,86.39
462,463,Gas Natural SDG,Spain,Utilities,5.53,0.85,9.25,11.28
472,473,Altadis,Spain,Food drink & tobacco,9.45,0.46,8.66,9.48
529,530,Unisn Fenosa,Spain,Utilities,6.13,0.36,15.71,6.35
532,533,Cepsa,Spain,Oil & gas operations,8.85,0.48,6.31,9.29
605,606,Grupo Ferrovial,Spain,Construction,5.29,0.48,11.78,5.11
734,735,FCC Group,Spain,Construction,5.77,0.29,7.14,4.99
762,763,Inditex,Spain,Household & personal products,4.28,0.47,3.24,13.52
787,788,Banco de Sabadell,Spain,Banking,1.99,0.30,38.38,4.77
876,877,ACS Group,Spain,Construction,4.64,0.19,5.16,6.24
951,952,Corporation Mapfre,Spain,Insurance,5.87,0.12,15.45,2.73
1035,1036,Acciona,Spain,Construction,3.59,0.17,6.11,4.13
1058,1059,Bankinter,Spain,Banking,1.37,0.17,30.05,3.26
1059,1060,Abertis Infraestructuras,Spain,Transportation,0.80,0.21,6.78,7.43
1074,1075,Iberia,Spain,Transportation,4.71,0.17,4.85,3.34
1426,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,0.20,1.34,3.60
1435,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,0.22,3.75,4.09
1493,1494,Acerinox,Spain,Materials,2.63,0.18,2.70,3.05
1623,1624,Enagas,Spain,Oil & gas operations,1.97,0.18,3.89,2.83
1892,1893,Banco Pastor,Spain,Banking,0.49,0.08,13.12,1.79
1897,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,0.15,4.28,2.36
1931,1932,Gamesa,Spain,Capital goods,1.15,0.14,2.04,3.02
1992,1993,Sogecable,Spain,Media,1.03,-0.06,1.53,6.02

Indexar el dataframe anterior por beneficios (profits) y obtener los nombres y rangos de las que tengan un beneficio nulo o negativo. Nota: intenta indexar de manera mixta con números (filas) y etiquetas columnas), hay una operación específica para esto en pandas.

In [77]:
espan_profit = espan.set_index(['profits'])# indexo por profit
espan_profit.sort_index(inplace=True) #ordeno data frame según los índices

In [78]:
espan_profit

,rank,name,country,category,sales,assets,marketvalue
profits,,,,,,,
-5.86,409,Telefsnica,Spain,Telecommunications services,29.84,60.65,86.39
-0.06,1993,Sogecable,Spain,Media,1.03,1.53,6.02
0.08,1893,Banco Pastor,Spain,Banking,0.49,13.12,1.79
0.12,952,Corporation Mapfre,Spain,Insurance,5.87,15.45,2.73
0.14,1932,Gamesa,Spain,Capital goods,1.15,2.04,3.02
0.15,1898,Red Eectrica de Espaqa,Spain,Utilities,1.14,4.28,2.36
0.17,1075,Iberia,Spain,Transportation,4.71,4.85,3.34
0.17,1059,Bankinter,Spain,Banking,1.37,30.05,3.26
0.17,1036,Acciona,Spain,Construction,3.59,6.11,4.13
0.18,1624,Enagas,Spain,Oil & gas operations,1.97,3.89,2.83
0.18,1494,Acerinox,Spain,Materials,2.63,2.70,3.05
0.19,877,ACS Group,Spain,Construction,4.64,5.16,6.24
0.20,1427,Amadeus Global Travel,Spain,Business services & supplies,2.43,1.34,3.60
0.21,1060,Abertis Infraestructuras,Spain,Transportation,0.80,6.78,7.43
0.22,1436,Sacyr-Vallehermoso,Spain,Diversified financials,0.88,3.75,4.09
0.29,735,FCC Group,Spain,Construction,5.77,7.14,4.99
0.30,788,Banco de Sabadell,Spain,Banking,1.99,38.38,4.77
0.36,530,Unisn Fenosa,Spain,Utilities,6.13,15.71,6.35
0.46,473,Altadis,Spain,Food drink & tobacco,9.45,8.66,9.48
0.47,763,Inditex,Spain,Household & personal products,4.28,3.24,13.52
0.48,606,Grupo Ferrovial,Spain,Construction,5.29,11.78,5.11
0.48,533,Cepsa,Spain,Oil & gas operations,8.85,6.31,9.29
0.67,379,Banco Popular Espaqol,Spain,Banking,3.32,44.01,14.38
0.85,463,Gas Natural SDG,Spain,Utilities,5.53,9.25,11.28
1.33,189,Iberdrola,Spain,Utilities,11.94,30.99,18.78
1.65,115,Endesa Group,Spain,Utilities,20.43,57.92,21.10
2.05,109,Repsol-YPF,Spain,Oil & gas operations,29.14,39.34,26.22
2.81,57,BBVA-Banco Bilbao Vizcaya,Spain,Banking,24.10,288.80,44.67
3.28,39,Banco Santander Central,Spain,Banking,28.70,442.24,56.78

In [81]:
espan_profit.ix[:0, ['name','rank']] # obtengo nombres y rangos de las filas en las que profit es  o menos

               name  rank
profits
-5.86    Telefsnica   409
-0.06     Sogecable  1993